In [4]:
import pandas as pd

import matplotlib.pyplot as plt


from pathlib import Path

In [5]:

def reading_df(root_path, datapath):
    
    path = Path(root_path) / datapath
 
    df = pd.read_csv(path)


    # Display dataset title
    print(f"\n{'='*50}\nDataset: {datapath}\n{'='*50}")

   # Dataset itself
    display(df.head(n=2))


    

    # print("\nData Types:")
    # display(pd.DataFrame(df.dtypes).T)

    # Display basic information
    print(f"Shape: {df.shape}")
    
    # Display missing values count
    print(f"\nTotal Missing Values: {df.isna().sum().sum()}")

    date = pd.to_datetime(df['date'])

    # Calculate the difference between consecutive dates
    diffs = date.diff().dropna()

    # Get the most common frequency
    most_common_freq = diffs.mode()[0]

    # Print the frequency
    print(f"Frequency of the data is: {most_common_freq}")

    print(f"{'+'*100}")

    return df

In [6]:
root_path = './datasets_former_papers'

df = reading_df(root_path,'electricity.csv')

==================================================
Dataset: electricity.csv
==================================================

,date,0,1,2,3,4,5,6,7,8,...,311,312,313,314,315,316,317,318,319,OT
0,2016-07-01 02:00:00,14.0,69.0,234.0,415.0,215.0,1056.0,29.0,840.0,226.0,...,676.0,372.0,80100.0,4719.0,5002.0,48.0,38.0,1558.0,182.0,2162.0
1,2016-07-01 03:00:00,18.0,92.0,312.0,556.0,292.0,1363.0,29.0,1102.0,271.0,...,805.0,452.0,95200.0,4643.0,6617.0,65.0,47.0,2177.0,253.0,2835.0

Shape: (26304, 322)

Total Missing Values: 0
Frequency of the data is: 0 days 01:00:00
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++