In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(dict(name=['Raphael', 'Donatello'],
                       age=[26, 45],
                       height=[181.23, 177.65]))


df

        name  age  height
0    Raphael   26  181.23
1  Donatello   45  177.65

In [3]:
print(df.to_latex(index=False,
                   formatters={"name": str.upper},
                  float_format="{:.1f}".format,))

\begin{tabular}{lrr}
\toprule
name & age & height \\
\midrule
RAPHAEL & 26 & 181.2 \\
DONATELLO & 45 & 177.7 \\
\bottomrule
\end{tabular}